<header>
  <h1>
    Home Page
  </h1>
  <section>
    <p>
      This is the home page for the angular/webpacker/rails sandbox application.
    </p>
  </section>
  <h6>Rails Version: <%= Rails.version %></h6>
</header>